.first {
    display: grid;
}

.rating-box {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;

}

.num-btn {
    border: none;
    color: white;
    background-color: black;
    font-weight: 900;
    width: 40px;
    line-height: 40px; 
    border-radius: 50%;
    text-align: center;
    cursor: pointer;

    &:hover{
        background-color: white;
        color: black;
    }

    &:active {
        background-color: #ff6600;
        color: white;
    }
}

button, input {
    font-family: 'Lexend Deca', sans-serif;
}

.submit {
    border: none;
    border-radius: 15px;
    padding: 10px;
    color: white;
    background-color: black;
    font-weight: 900;
    cursor: pointer;

    &:hover, :active {
        background-color: orangered;
        color: white;
    }
}


.active {
    background-color: orangered;
    color: white;
}